
@keyframes latido{

  0% {
    transform: scale(1.0);
  }
  10%{
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.0);
  }

}

@keyframes recorrido{

  0% {
      transform: rotateX(0deg);
  }

  50%{
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }


}


.recorrido{
  animation-name: recorrido;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 1s;

}


.latido{
  animation-name: latido;
  animation-iteration-count: 3;
  animation-duration: 500ms;
  animation-delay: 3s;
}


.modal__inicio{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none; 
  transition: opacity .3s .5s;
  --transform: translateY(-100vh);
  --transition: transform .4s; 
}

.modal--show{
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s;
}

.modal__contenedor{
  margin: auto;
  width: 90%;
  max-width: 900px;
  height: 500px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition:var(--transition);
}

.modal__cuerpo{
  width: 90%;
  max-width: 700px;
  height: 300px;
  max-height: 90%;
  background-color: #F26250;
}

.modal__titulo{
  font-size: 2.5rem;
}

.imagen__chango{
  width: 25px;
} 

.modal__boton{
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid ;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s;
}

.modal__boton:hover{
  color: #F26250;
  background-color: #fff;
}

.info__compra{
  width: 20rem;  
  background-color: #808080;
  border: 3px solid black;
}
.detalle__compra{
  width: 15rem;
  background-color: #808080;
}
.tabla__cabecera{  
  border: 3px solid black;
}

.imagen__marca__modal{
  width: 75px;
  height: auto;
}

.lanzar__modal{
  display: flex;
  opacity: 1;
  pointer-events: none;  
  position: relative;
}

.habilitar__modal{
  pointer-events: unset;
}

.ocultar__chango{  
  opacity: 0;
}
.mostrar--chango{
  opacity: 1;  
}

.comColor{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  color: white;
  font-weight: 600;
  background-color: red;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.btn__eliminar{
  background-color: aqua;
}

.truncate{
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}